services:
  - type: web
    name: realistic-loan-approval
    env: docker
    plan: free
    region: frankfurt
    branch: main
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PORT
        value: 8501